@import url('./styles.css');

body {
    background:var(--backGround);
}

#canvas-game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-score{
    color: white;
    padding: 2vh 5vh;
    margin: 0px;
    background-color: rgba(0,0,0,0.7);
    font-size: 4vh;
    font-family: 'VT323', monospace;
}

.element{
    margin-top: 5vh;
    width: 60vh;
    height: 60vh;
    overflow:hidden;
    border-radius:100%;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:50% 50%;
    position: relative;
    transition: ease 250ms;
    border: 15px solid gray;
    box-shadow: 5px 5px 15px black;
}

.element-color{
    border: 1px solid black;
    transition: ease 500ms;
}

.element-color.orange{
    background: var(--orange);
    border-top-left-radius: 100%;
}

.element-color.green{
    background: var(--green);
    border-bottom-right-radius: 100%;
}

.element-color.violet{
    background: var(--violet);
    border-top-right-radius: 100%;
}

.element-color.blue{
    background: var(--blue);
    border-bottom-left-radius: 100%;
}

.light{
    transition: ease 250ms;
    box-shadow: inset 0 0 20px white;
    border: 5px solid white;
}

.game-won{
    transition: ease 250ms;
    box-shadow: inset 0 0 20px var(--greenLight);
    border: 15px solid var(--greenLight);
}